body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif; /* Change the font family as needed */
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #552583;
}

nav ul li a {
  color: #fff;
}

h1, h2 {
  color: #fff;
}

img {
  border: 1px solid #fff;
}

#publications ul {
  list-style: disc;
  padding-left: 20px;
  color: #fff;
}

#publications a {
  color: #fff;
}

#publications a:hover {
  color: #ccc;
}

nav ul li a:hover {
  color: #ccc;
}

#logo {
  position: absolute;
  top: 10px;
  right: 10px;
}

#logo img {
  max-width: 100px; /* Adjust the size as needed */
}

.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.tabs li {
  float: left;
}

.tabs li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tabs li a:hover {
  background-color: #444;
}

.tabcontent {
  display: none;
}

#about {
  display: block;
}

.tablinks.active {
  background-color: #555;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  padding: 20px;
}
